@import url('https://fonts.googleapis.com/css?family=Roboto|Sansita|Open+Sans');

*{
	padding: 0px;
	margin: 0px;
}

.contentImg{
	position: absolute;
	left: -40px;
	background-image: url('../img/banner-bienvenidos0.jpg');	
	background-repeat: no-repeat;
	width: 103.3%;
	height: 100%;
}

.header{
 	border-bottom: solid 1px rgba(0,0,0,0.05);
	height: 54px;
 	margin-left: 2em;
 	overflow: hidden;
	width: 90%;
	position: fixed;
	 z-index: 100;
	 transition-duration: 2s;
}
.header p{
	position: absolute;
	top: 14px;
	right: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	font-family: "Sansita";
	border-bottom: 2px solid;
}

.header .nav .menu{
    margin-right: 1em;
    margin-top: 1em;

}
.header .nav .menu .items {
	float: left;
    list-style: none;
}

.header .nav .menu .items  a{
	color: #fff;
	font-size: 12px;
    font-weight: bold;
    letter-spacing: .08181818182em;
    line-height: 1.818;
    opacity: 1;
    padding: 0 13px;
    margin-bottom: 13px;
	text-decoration: none;
    font-family:  "Roboto";
    /*text-shadow: 1px 0 1px #444;*/
    text-transform: uppercase;
    transition: ease-all 6s;
}

.header .nav .menu .items  a:hover{
	color: #ccc;
	font-size: 15px;
}

.logo{
	position: absolute;
	left: 30px;
	top: 55px;
}
.logo img{
	width: 100%;

}
.isos{
	position: absolute;
	right: 95px;
	top: 55px;
	margin-top: 10px;
	border-radius: 40px 40px;
}
 
.isos img{
	border-radius: 40px 40px;
	border: 3px solid #FF5722;
	height: 120px;
	width: 120px;
	box-shadow: 1px 0 1px #ccc;
	transition-duration: 5s;
}
.isos  img:hover  {
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}
 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#Nosotros{
	position: absolute;
	top: 690px;
	height: 690px;
	width: 100%;
}

 
 #tabs-nosotros{
 	margin: auto;
 	margin-top: 2.5em;
 	width: 90%;
 }
 .tab-pane p{
 	text-align: justify;
 }
.contenido-somos-img img{
	margin-top: 4em;
	width: 100%;
}
  
#Servicios{
	position: absolute;
	top: 1390px;
	height: 690px;
	width: 100%;
}
 
  
 ._titulos{
	font-family: Roboto;
	text-align: center;
	font-size: 40px;
    color: #39a1cd;
    line-height: 1.15;
    /*font-family: "Flexo";*/
    font-weight: 500;
	margin-top: 2em;
    z-index: 400; 
 }

 
 .moviHeader{
 	background: #fff;
 }
  .divCabImg {
  	margin: auto;
  	width: 50%;
  	margin-bottom: 5em;
  }
  .divCabImg ul{
  	list-style: none;
  }
 .divCabImg ul li{
 	float: left;
 	padding-left: 1em;
 }
  .divCabImg ul li a{
  	text-decoration: none;
  	font-weight: bold;
  	font-family: "Roboto";
  	border-bottom: 3px solid #39a1cd;
  	padding: 5px 10px;
  	width: 500px;
  	color: #39a1cd;
  	transition-duration: 6s;
  }

  .activoimg{
  	background: #39a1cd;
  	color :#fff !important;
  	    border-bottom: 3px solid #024880 !important;
  }

  .grandContentGal{
  	position: relative;
  }

 .contentGal{
 	position: absolute; 
 	float: left;
 	height: auto;
 	overflow: hidden;
	margin: auto;
	width: 90%;
	  	transition-duration: 3s;
 }
   .pm1{
   	 left: -1200px;
   }
     .pm2{
   	 left: 60px;
   }
     .pm3{
   	 left: -1700px;
   }
  .contentGal img{   width: 100%; height: 440px; }

#Contactenos{
	padding: 0;
	position: absolute;
	top: 2090px;
	height: 690px;
	width: 100%;
}
#Contactenos video {
    position: absolute;
    width: 100%;
}