@import url('https://fonts.googleapis.com/css?family=Roboto|Sansita|Open+Sans');
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?uru6za');
    src:    url('fonts/icomoon.eot?uru6za#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?uru6za') format('truetype'),
        url('fonts/icomoon.woff?uru6za') format('woff'),
        url('fonts/icomoon.svg?uru6za#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e90f";
}
.icon-phone:before {
    content: "\e901";
}
.icon-location2:before {
    content: "\e902";
}
.icon-mobile:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e904";
}
.icon-hammer2:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e906";
}
.icon-google-plus2:before {
    content: "\e908";
}
.icon-facebook2:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}
.icon-email:before {
    content: "\e90d";
}
.icon-mail:before {
    content: "\e90e";
}
.icon-message:before {
    content: "\e90c";
}
.icon-old-phone:before {
    content: "\e900";
}


*{
	padding: 0px;
	margin: 0px;
}

.contentImg{
	position: absolute;
	left: -40px;
	background-image: url('../img/banner-bienvenidos0.jpg');	
	background-repeat: no-repeat;
	width: 103.3%;
	height: 100%;
	 transition-duration: 3s;
}

.header{
 	border-bottom: solid 1px rgba(0,0,0,0.05);
	height: 54px;
 	margin-left: 2em;
 	overflow: hidden;
	width: 90%;
	position: fixed;
	 z-index: 100;
	 transition-duration: 2s;
}
.header p{
	position: absolute;
	top: 14px;
	right: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	font-family: "Sansita";
	border-bottom: 2px solid;
}

.header .nav .menu{
    margin-right: 1em;
    margin-top: 1em;

}
.header .nav .menu .items {
	float: left;
    list-style: none;
}

.header .nav .menu .items  a{
	color: #fff;
	font-size: 12px;
    font-weight: bold;
    letter-spacing: .08181818182em;
    line-height: 1.818;
    opacity: 1;
    padding: 0 13px;
    margin-bottom: 13px;
	text-decoration: none;
    font-family:  "Roboto";
    /*text-shadow: 1px 0 1px #444;*/
    text-transform: uppercase;
    transition: ease-all 6s;
}

.header .nav .menu .items  a:hover{
	color: #ccc;
	font-size: 15px;
}

.logo{
	position: absolute;
	left: 30px;
	top: 55px;
}
.logo img{
	width: 100%;

}
.isos{
	position: absolute;
	right: 95px;
	top: 55px;
	margin-top: 10px;
	border-radius: 40px 40px;
}
 
.isos img{
	border-radius: 40px 40px;
	border: 3px solid #FF5722;
	height: 120px;
	width: 120px;
	box-shadow: 1px 0 1px #ccc;
	transition-duration: 5s;
}
.isos  img:hover  {
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}
 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#Nosotros{
	position: absolute;
	top: 690px;
	height: 690px;
	width: 100%;
}

 
 #tabs-nosotros{
 	margin: auto;
 	margin-top: 2.5em;
 	width: 90%;
 }
 .tab-pane p{
 	text-align: justify;
 }
.contenido-somos-img img{
	margin-top: 4em;
	width: 100%;
}
  
#Servicios{
	position: absolute;
	top: 1390px;
	height: 690px;
	width: 100%;
}
 
  
 ._titulos{
	font-family: Roboto;
	text-align: center;
	font-size: 40px;
    color: #39a1cd;
    line-height: 1.15;
    /*font-family: "Flexo";*/
    font-weight: 500;
	margin-top: 2em;
    z-index: 400; 
 }

 
 .moviHeader{
 	background: #fff;
 }
  .divCabImg {
  	margin: auto;
  	width: 50%;
  	margin-bottom: 5em;
  }
  .divCabImg ul{
  	list-style: none;
  }
 .divCabImg ul li{
 	float: left;
 	padding-left: 1em;
 }
  .divCabImg ul li a{
  	text-decoration: none;
  	font-weight: bold;
  	font-family: "Roboto";
  	border-bottom: 3px solid #39a1cd;
  	padding: 5px 10px;
  	width: 500px;
  	color: #39a1cd;
  	transition-duration: 2s;
  }

  .activoimg{
  	background: #39a1cd;
  	color :#fff !important;
  	border-bottom: 3px solid #024880 !important;
  }

.grandContentGal{
	margin: auto;
	width: 100%;
}  
.grandContentGal .contentGal img{
	display: block;
	width: 70%;
	margin:auto;
	transition-duration: 3s;
}

 
#Contactenos{
	padding: 0;
	position: absolute;
	top: 2090px;
	height: 690px;
	width: 100%;
}
#Contactenos video {
    position: absolute;
    width: 100%;
}


#Contactenos form {
	margin-top: 3em;
    background: rgba(0, 0, 0, 0.26);
    z-index: 100;
    width: 100%;
}

#Contactenos form .content-formulario {
    padding: 2em 2em;
}

#Contactenos  form .content-formulario div {
    margin-bottom: 1em;
    text-align: right;
    position: relative;
}

#Contactenos  form .content-formulario div h1 {
    padding-right: 6.5em;
    font-family: "Open Sans";
    color: rgba(52, 228, 147, 0.76);
}


#Contactenos form .content-formulario .textos {
    background: rgba(255,255,255,.7);
    border-radius: 5px;
    color: #444;
    font-family: "Open Sans";
    padding: 2px 4px;
    width: 480px;
}

#Contactenos form .content-formulario #btn-envia {
    background: rgba(158, 143, 23, 0.8);
    border: 1px solid #515151;
    border-radius: 4px;
    color: white;
    font-family: Arial;
    padding: 4px 6px;
    margin-right: 1em;
}
#Contactenos form .content-formulario div .iconos {
    color: #444;
    position: absolute;
    top: .5em;
    right: .5em;
}